#info{
    display: flex;
    align-items: center;
    justify-content: center;
}

#text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

.artist-name{
    color: green;
    font: normal 4em Bebas Neue;
    margin: 10px;
}  


.artist-info{
    width: 1200px;
    text-align: justify;
    font: bold 1.2rem roboto;
}

.artist-songs{
    width: 1200px;
}

#lyrics{
    width: auto;
    font: bold 1.2rem roboto;
}



.title{
    font: normal 2em bebas neue;
    margin-bottom: 10px;
}


.info-buttons{
    margin: 10px;
    row-gap: 10px;
}

#translation, #add-favorite{
    border-radius: 5px;
    background-color: green;
    color: white;
    font: normal 1.3em bebas neue;
    border: none;
}
